.angle-button {
    cursor: pointer;

    transition: opacity ease-in 300ms;
    
    &.left {
        transform: scaleX(-1);
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}