.articles {
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        font-family: 'Inter';
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;

        .read-more {
            display: none;

            @include respond-above(sm) {
                display: block;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &_grid {        
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 310px);
        }

        @include respond-above(xl) {            
            grid-template-columns: repeat(4, 310px);
        }
    }
}