.header-ui {
    padding: 24px 0 !important;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $white;

    &_contacts {
        display: flex;
        align-items: center;

        .region {
            display: flex;
            align-items: center;

            &_select {
                border: none;

                &:focus-visible  {
                    border: none;
                }
            }
        }

        .phone {
            display: flex;
            align-items: center;
        }
    }

    &_tools {
        display: flex;
        align-items: center;

        .product-tools {
            display: flex;

            &_icon {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background-color: $light;
                }
            }
        }
    }
}

.header-nav {
    width: 100%;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;

    &_wrapper {
        width: 100%;
        padding: 24px 50px;
        background-color: $light;

    }

    .nav {
        &_link {
            transition: opacity ease-in 100ms;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}