.header-ui {
    padding: 20px 0 !important;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $white;

    &_contacts {
        display: flex;
        align-items: center;

        .region {
            display: flex;
            align-items: center;

            &_select {
                border: none;

                &:focus-visible  {
                    outline: none;
                }
            }
        }

        .phone {
            display: flex;
            align-items: center;
        }
    }

    &_tools {
        display: flex;
        align-items: center;

        .product-tools {
            display: flex;

            &_icon {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                &:hover {
                    background-color: $light;
                }
            }
        }
    }
}

.header-nav {
    width: 100%;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    &_wrapper {
        width: 100%;

        display: flex;

        background-color: $light;

    }

    .nav {
        padding: 22px 110px 22px 50px;

        border-right: 1px solid $greyTransparent;

        &_link {
            font-family: Intro;
            font-size: 13px;
            font-weight: 500;

            transition: opacity ease-in 100ms;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .search {
        display: flex;
        align-items: center;

        input[type="search"] {
            background-color: $light;
            border: none;
        }
    }
}