header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    .header-ui {
        padding: 24px 0;
        background-color: $white;
    }

    .header-nav {
        width: 100%;
        padding: 24px 50px;
        background-color: $light;
    }
}