.header-ui {
    padding: 20px 0 !important;

    display: none;
    justify-content: space-between;
    align-items: center;

    background-color: $white;

    &_contacts {
        display: flex;
        align-items: center;

        .region {
            height: 16px;

            display: flex;
            align-items: center;

            cursor: pointer;

            transition: ease-in 100ms;

            &:hover {
                opacity: 0.5;
            }

            &_select {
                border: none;
                
                cursor: pointer;

                &:focus-visible  {
                    outline: none;
                }
            }
        }

        .phone {
            display: flex;
            align-items: center;
            
            transition: ease-in 100ms;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &_tools {
        display: flex;
        align-items: center;

        .auth {
            a {                
                transition: ease-in 100ms;
            }
            a:hover {
                opacity: 0.5;
            }
        }

        .product-tools {
            display: flex;

            &_icon {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                transition: ease-in 100ms;

                &:hover {
                    background-color: $light;
                }

                &:active {
                    background-color: #E8E7E7;
                }
            }
        }
    }
}

@include respond-above(lg) {
    .header-ui {
        display: flex;
    }
}