.intro {
    height: calc(100vh - 192px);

    &-content {
        height: 100%;
    }
    
    &-slide {
        height: 100%;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: $light;

        overflow: hidden;

        &_desc {
            z-index: 1;
            .desc {
                display: flex;
                flex-direction: column;
                align-items: center;

                &_button-wrapper {
                    width: 200px;
                }        
            }
        }

        &_img {
            // height: 100%;
            max-width: 548px;
            max-height: 548px;
            
            z-index: 1;
            
            img {
                width: 100%;
            }
        }

        &_diamond {
            position: absolute;
            top: 24px;
            left: -110px;
        }
    }
    
    .slider {
        &_left, &_right {
            height: 100%;

            position: absolute;
            z-index: 1;

            display: flex;
            align-items: center;

        }

        &_left {
            left: 24px;
            top: 0;
        }

        &_right {
            right: 24px;
            top: 0;
        }

        &_pagination {
            margin: 0 50%;

            position: absolute;
            bottom: 24px;

            display: none;
        }
    }

}



@include respond-above(sm) {
    .intro {
        .slider {
            &_pagination {
                display: block;
            }
        }
    }
}

@include respond-above(lg) {
    .intro {
        height: calc(100vh - 192px);

        position: relative;
    
        &-slide {
            padding-left: 126px;
            flex-direction: row;

            &_desc {
                .desc {
                    align-items: flex-start;
                }
            }
    
            &_img {
                display: flex;
                align-items: center;

                img {
                    height: 100%;
                }
            }
        }        
    }
}