.intro {
    &-content {
        height: 100%;
    }
    
    &-slide {
        height: 100%;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: $light;

        overflow: hidden;

        &_desc {
            z-index: 1;
            .desc {
                &_button-wrapper {
                    width: 200px;
                }        
            }
        }

        &_img {
            height: 100%;
            max-height: 548px;
            
            z-index: 1;
            img {
                height: 100%;
            }
        }

        &_diamond {
            position: absolute;
            top: 24px;
            left: -110px;
        }
    }

    @include respond-above(sm) {

    }

    @include respond-above(lg) {
        height: calc(100vh - 192px);
    
        &-slide {
            padding-left: 126px;
            flex-direction: row;
    
            &_img {
                display: flex;
                align-items: center;
            }
        }
    }

    
}