.popular {
    &_grid {
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(md) {
            justify-content: space-between;
        }

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 200px);
        }

        .category-card {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $light;

            &_img {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                transition: ease-in 200ms;
            }

            &_title {
                height: 40px;
                padding: 0 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                text-align: center;

                @include respond-above(lg) {
                    height: 66px;
                }
            }

            &:hover {
                .category-card {
                    &_img {
                        transform: scale(1.2);
                    }
                }
            }

            @include respond-above(sm) {
                width: 200px;
                height: 260px;
            }
        }
    }
}