.popular {
    &_grid {
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(md) {
            justify-content: space-between;
        }

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 200px);
        }

        // @include respond-above(lg) {
        //     grid-template-columns: auto;
        // }

        .category-card {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $light;

            &_img {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_title {
                height: 66px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include respond-above(sm) {
                width: 200px;
                height: 260px;
            }
        }
    }
}