.rounded-btn {
    width: auto;
    height: 40px;
    padding: 13px 30px;
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;

    background-color: $greyTransparent;
    border-radius: 21px;

    cursor: pointer;
    transition: background-color ease-in 100ms;

    &:hover {
        background-color: $greyLight;
    }

    &:active, &.active {
        color: $white;
        background-color: $greyDark;
    };
}