.sale {
    &_head {
        margin-bottom: 36px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        @include respond-above(sm) {
            flex-direction: row;
        }
    }

    &_buttons {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
    }

    &_slider-buttons {
        display: flex;
    }

    &_cards-grid {
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 310px);
        }
    }

    &_specials-grid {
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 420px);
        }

    }
}