.sale-card {
    margin: 0 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    white-space: normal;

    border: 1px solid $greyTransparent;

    &_tags {
        position: absolute;
        left: 24px;
        top: 16px;
    }

    &_icons {
        position: absolute;
        top: 16px;
        right: 20px;

        display: flex;
        flex-direction: column;

        svg {
            fill: $greyInactive;

            cursor: pointer;

            &:hover {
                fill: $greyHovered;
            }

            &.to-favorite.active, &.to-favorite:active{
                fill: $red;
            }
        }

        
    }

    &_images {
        width: 200px;
        height: 200px;

        position: relative;

        overflow: hidden;

        img {            
            width: 200px;
            height: 200px;
        }

        .pagination {
            position: absolute;
            bottom: 6px;
            margin: 0 50%;
        }
    }
    
    &_desc {
        .desc {
            padding: 0 20px;

            &_price {
                margin-bottom: 16px;
                position: relative;

                &__current {
                    margin-right: 8px;

                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 29px;
                }
                
                &__old {
                    color: #8F8F8F;
                    text-decoration-line: line-through;
                }

                &__discount {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

            &_text {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    &_select {
        display: none;

        select {
            width: 262px;
            height: 40px;

            padding: 0 16px;
    
            background-color: $greyTransparent;

            border: none;

            &:focus-visible {
                outline: none;
            }
        }
    }

    &:hover {
        height: 480px;

        margin-bottom: 10px;

        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
        
        & .sale-card {
            &_select {
                display: block;
            }
        }

    }
}

@include respond-above(sm) {   
    .sale-card  {    
        height: 370px;
        width: 310px;

        margin: 0;
        margin-bottom: 120px;
        padding-top: 40px;
        
        &_images {
            margin-bottom: 24px;
        }
    
        &_desc {
            width: 262px;   
            
            .desc {
                padding: 0;
            }
        }
     
        &:hover {
            height: 480px;
        }
    }
}

@include respond-above(lg) {
}