.sale {
    &_head {
        margin-bottom: 36px;
    }

    &_cards-grid {
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 310px);
        }
    }

    &_specials-grid {
        display: grid;
        justify-items: center;  
        justify-content: center;

        grid-template-columns: 1fr;
        gap: 20px;

        @include respond-above(sm) {
            grid-template-columns: repeat(auto-fit, 420px);
        }

    }
}