$silver: #D9D9D9;
$gold: #E1A661;
$bronze: #EA8C48;
$whiteGold: #A7E492;

$black: #000000;
$greyDark: #303030;
$grey: #505050;
$greyHovered: #979797;
$greyInactive: #C9C9C9;
$greyLight: #DDDDDD;
$greyTransparent: #F0F0F0;
$light: #F8F8F8;
$white: #FFFFFF;
$red: #E24B33;
$redAlert: #E46942;
$blueLight: #5B8A8F;
$blueDark: #43807F;